<div class="page-header">
  <h1><strong>Detalles de la persona</strong></h1>
</div>

<div class="person-detail">
  My name is {{person.name}} and my salary is {{person.salary}}
</div>

<hr>





{{yield}}
