<div class="page-header">
  <h1><strong>Información</strong></h1>
</div>

<!-- el page-header añande un separador al final -->

<!-- <div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="1.jpg" alt="...">
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="2.jpg" alt="...">
    </a>
  </div>
</div> -->
<p> <strong> Nombre de la compañia: </strong>Agroplus </p>
<p> <strong> Teléfono: </strong>476-2827 </p>
<p> <strong> Email: </strong>agroplus@gmail.com</p>
<p> <strong> Año: </strong>2018</p>
{{outlet}}
